openapi: 3.2.0
info:
  version: 2.0.144
  title: Lichess.org API reference Tablebase API
  contact:
    name: Lichess.org API
    url: https://lichess.org/api
    email: contact@lichess.org
  x-logo:
    url: https://lichess1.org/assets/logo/lichess-pad12.svg
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.txt
  description: '# Introduction

    Welcome to the reference for the Lichess API!'
servers:
- url: https://lichess.org
- url: https://lichess.dev
- url: http://localhost:{port}
  variables:
    port:
      default: '8080'
- url: http://l.org
tags:
- name: Tablebase
  description: 'Lookup positions from the Lichess tablebase server.


    > [!important]

    > The hostname for these endpoints is `tablebase.lichess.org` and not `lichess.org`.'
paths:
  /standard:
    get:
      operationId: tablebaseStandard
      summary: Tablebase lookup
      description: '**Endpoint: **


        Example: `curl http://tablebase.lichess.org/standard?fen=4k3/6KP/8/8/8/8/7p/8_w_-_-_0_1`'
      tags:
      - Tablebase
      servers:
      - url: https://tablebase.lichess.org
      - url: http://localhost:{port}
        variables:
          port:
            default: '9000'
      security: []
      parameters:
      - in: query
        name: fen
        description: X-FEN of the position. Underscores allowed.
        schema:
          type: string
        required: true
      - in: query
        name: dtc
        description: 'When to query the tablebase for `dtc` values. The default is

          `auxiliary`, i.e., only when the position is not covered by one of the

          other tablebases.

          '
        schema:
          type: string
          enum:
          - never
          - auxiliary
          - always
        required: false
      responses:
        '200':
          description: The tablebase information for the position in standard chess.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: '''*'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TablebaseJson'
              examples:
                default:
                  $ref: '#/components/examples/tablebase-lookupStandard.json'
  /atomic:
    get:
      operationId: tablebaseAtomic
      summary: Tablebase lookup for Atomic chess
      description: '**Endpoint: **'
      tags:
      - Tablebase
      servers:
      - url: https://tablebase.lichess.org
      - url: http://localhost:{port}
        variables:
          port:
            default: '9000'
      security: []
      parameters:
      - in: query
        name: fen
        description: X-FEN of the position. Underscores allowed.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The tablebase information for the position in atomic chess.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: '''*'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TablebaseJson'
              examples:
                default:
                  $ref: '#/components/examples/tablebase-lookupAtomic.json'
  /antichess:
    get:
      operationId: antichessAtomic
      summary: Tablebase lookup for Antichess
      description: '**Endpoint: **'
      tags:
      - Tablebase
      servers:
      - url: https://tablebase.lichess.org
      - url: http://localhost:{port}
        variables:
          port:
            default: '9000'
      security: []
      parameters:
      - in: query
        name: fen
        description: X-FEN of the position. Underscores allowed.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The tablebase information for the position in antichess.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: '''*'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TablebaseJson'
              examples:
                default:
                  $ref: '#/components/examples/tablebase-lookupAntichess.json'
components:
  schemas:
    TablebaseJson:
      type: object
      properties:
        category:
          type: string
          enum:
          - win
          - unknown
          - syzygy-win
          - maybe-win
          - cursed-win
          - draw
          - blessed-loss
          - maybe-loss
          - syzygy-loss
          - loss
          description: '`cursed-win` and `blessed-loss` means the 50-move rule prevents

            the decisive result.


            `syzygy-win` and `syzygy-loss` means exact result is unknown due to

            [DTZ rounding](https://syzygy-tables.info/metrics#dtz), i.e., the

            win or loss could also be prevented by the 50-move rule if

            the user has deviated from the tablebase recommendation since the

            last pawn move or capture.


            `maybe-win` and `maybe-loss` means the result with regard to the

            50-move rule is unknown, because DTZ is unknown and the DTC tablebase

            does not guarantee to reach a zeroing move as soon as possible.

            '
        dtz:
          type:
          - 'null'
          - integer
          description: '[DTZ50'''' with rounding](https://syzygy-tables.info/metrics#dtz) in plies

            (for Standard chess positions with not more than 7 pieces and variant

            positions not more than 6 pieces)

            '
        precise_dtz:
          type:
          - 'null'
          - integer
          description: 'DTZ50'''' in plies, only if guaranteed to not be rounded, or absent if unknown

            '
        dtc:
          type:
          - 'null'
          - integer
          description: "Depth to Conversion: Moves to next capture, promotion,\nor checkmate. Available for:\n* Standard chess positions with 8 pieces, more than one pawn of material\n  value for each side, and at least one pair of opposing pawns,\n  short *op1*, if query parameter `dtc` is `auxiliary` or `always`.\n* Some standard chess positions with up to 7 pieces, if query parameter\n  `dtc` is `always`. Work in progress.\n"
        dtm:
          type:
          - 'null'
          - integer
          description: 'Depth To Mate: Plies to mate (available only for Standard positions

            with not more than 6 pieces)

            '
        dtw:
          type:
          - 'null'
          - integer
          description: 'Depth To Win: Plies to win (available only for Antichess positions

            with not more than 4 pieces)

            '
        checkmate:
          type: boolean
        stalemate:
          type: boolean
        variant_win:
          type: boolean
          description: Only in chess variants
        variant_loss:
          type: boolean
          description: Only in chess variants
        insufficient_material:
          type: boolean
        moves:
          type: array
          description: Information about legal moves, best first
          items:
            $ref: '#/components/schemas/TablebaseMove'
      required:
      - category
      - moves
      example:
        dtz: 1
        precise_dtz: 1
        dtc: null
        dtm: 17
        dtw: null
        checkmate: false
        stalemate: false
        variant_win: false
        variant_loss: false
        insufficient_material: false
        category: win
        moves:
        - uci: h7h8q
          san: h8=Q+
          dtz: -2
          precise_dtz: -2
          dtc: null
          dtm: -16
          dtw: null
          zeroing: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          category: loss
    TablebaseMove:
      type: object
      properties:
        uci:
          type: string
          example: h7h8q
        san:
          type: string
          example: h8=Q+
        category:
          type: string
          enum:
          - loss
          - unknown
          - syzygy-loss
          - maybe-loss
          - blessed-loss
          - draw
          - cursed-win
          - maybe-win
          - syzygy-win
          - win
        dtz:
          type:
          - 'null'
          - integer
        precise_dtz:
          type:
          - 'null'
          - integer
        dtc:
          type:
          - 'null'
          - integer
        dtm:
          type:
          - 'null'
          - integer
        dtw:
          type:
          - 'null'
          - integer
        zeroing:
          type: boolean
        conversion:
          type: boolean
        checkmate:
          type: boolean
        stalemate:
          type: boolean
        variant_win:
          type: boolean
        variant_loss:
          type: boolean
        insufficient_material:
          type: boolean
      required:
      - uci
      - san
      - category
  examples:
    tablebase-lookupStandard.json:
      value:
        checkmate: false
        stalemate: false
        variant_win: false
        variant_loss: false
        insufficient_material: false
        dtz: 1
        precise_dtz: 1
        dtm: 17
        dtw: null
        dtc: null
        category: win
        moves:
        - uci: h7h8q
          san: h8=Q+
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: -2
          precise_dtz: -2
          dtm: -16
          dtw: null
          dtc: null
          category: loss
        - uci: h7h8r
          san: h8=R+
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: -2
          precise_dtz: -2
          dtm: -26
          dtw: null
          dtc: null
          category: loss
        - uci: g7g8
          san: Kg8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 0
          precise_dtz: 0
          dtm: 0
          dtw: null
          dtc: null
          category: draw
        - uci: g7f6
          san: Kf6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 19
          dtw: null
          dtc: null
          category: win
        - uci: g7g6
          san: Kg6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 19
          dtw: null
          dtc: null
          category: win
        - uci: g7h6
          san: Kh6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 19
          dtw: null
          dtc: null
          category: win
        - uci: g7h8
          san: Kh8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 19
          dtw: null
          dtc: null
          category: win
        - uci: h7h8n
          san: h8=N
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 19
          dtw: null
          dtc: null
          category: win
        - uci: h7h8b
          san: h8=B
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: 1
          precise_dtz: 1
          dtm: 15
          dtw: null
          dtc: null
          category: win
    tablebase-lookupAntichess.json:
      value:
        checkmate: false
        stalemate: false
        variant_win: false
        variant_loss: false
        insufficient_material: false
        dtz: null
        precise_dtz: null
        dtm: null
        dtw: null
        dtc: null
        category: unknown
        moves:
        - uci: f7f6
          san: f6
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: h7h6
          san: h6
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: f7f5
          san: f5
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: h7h5
          san: h5
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g8f6
          san: Nf6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g8h6
          san: Nh6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7d6
          san: Kd6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7e6
          san: Ke6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7f6
          san: Kf6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7d7
          san: Kd7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7d8
          san: Kd8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7e8
          san: Ke8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e7f8
          san: Kf8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
    tablebase-lookupAtomic.json:
      value:
        checkmate: false
        stalemate: false
        variant_win: false
        variant_loss: false
        insufficient_material: false
        dtz: null
        precise_dtz: null
        dtm: null
        dtw: null
        dtc: null
        category: unknown
        moves:
        - uci: a6b5
          san: Bxb5
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4c3
          san: Bxc3
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4c3
          san: Qxc3
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4d3
          san: Qxd3+
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4e3
          san: Qxe3
          zeroing: true
          conversion: true
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e6e5
          san: e5
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: f7f6
          san: f6
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g7g6
          san: g6
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: f7f5
          san: f5
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g7g5
          san: g5
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: h5h4
          san: h4
          zeroing: true
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4d6
          san: Qd6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4c5
          san: Bc5
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4d6
          san: Bd6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4e7
          san: Be7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4f8
          san: Bf8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g8h6
          san: Nh6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: a6b7
          san: Bb7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: a6c8
          san: Bc8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: a8b8
          san: Rb8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: a8c8
          san: Rc8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: a8d8
          san: Rd8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: h8h6
          san: Rh6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: h8h7
          san: Rh7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g8e7
          san: Ne7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4a3
          san: Ba3
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: g8f6
          san: Nf6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4c4
          san: Qc4
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4e4
          san: Qe4
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4f4
          san: Qf4
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4g4
          san: Qg4
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4h4
          san: Qh4
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4c5
          san: Qc5
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4d5
          san: Qd5
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4e5
          san: Qe5
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: b4a5
          san: Ba5
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: d4f6
          san: Qf6
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e8e7
          san: Ke7
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e8d8
          san: Kd8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e8f8
          san: Kf8
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
        - uci: e8c8
          san: O-O-O
          zeroing: false
          conversion: false
          checkmate: false
          stalemate: false
          variant_win: false
          variant_loss: false
          insufficient_material: false
          dtz: null
          precise_dtz: null
          dtm: null
          dtw: null
          dtc: null
          category: unknown
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Read [the introduction for how to make authenticated requests](#description/authentication).

        '
      flows:
        authorizationCode:
          authorizationUrl: https://lichess.org/oauth
          tokenUrl: https://lichess.org/api/token
          scopes:
            preference:read: Read your preferences
            preference:write: Write your preferences
            email:read: Read your email address
            engine:read: Read your external engines
            engine:write: Create, update, delete your external engines
            challenge:read: Read incoming challenges
            challenge:write: Create, accept, decline challenges
            challenge:bulk: Create, delete, query bulk pairings
            study:read: Read private studies and broadcasts
            study:write: Create, update, delete studies and broadcasts
            tournament:write: Create tournaments
            racer:write: Create and join puzzle races
            puzzle:read: Read puzzle activity
            puzzle:write: Write puzzle activity
            team:read: Read private team information
            team:write: Join, leave teams
            team:lead: Manage teams (kick members, send PMs)
            follow:read: Read followed players
            follow:write: Follow and unfollow other players
            msg:write: Send private messages to other players
            board:play: Play with the Board API
            bot:play: Play with the Bot API. Only for [Bot accounts](#tag/bot/POST/api/bot/account/upgrade)
            web:mod: Use moderator tools (within the bounds of your permissions)
